@tailwind base;
@tailwind components;
@tailwind utilities;

.jumbotron {
  width: auto;
  height: auto;
  min-height: 100vh;
  background-image: url('./assets/big-jumbotron-non-ai.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center; /* Horizontally center */
}
